* {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(235, 235, 212);
  }
  header {
    background-color: rgb(208, 173, 132);
    padding: 40px;
    margin: 0;
  }
  h1 {
    text-align: center;
    text-shadow: 3px 1px;
    color: rgb(228, 227, 211);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  nav ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(202, 128, 128);
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: rgb(9, 9, 9);
  }
  
  footer {
    text-align: center;
    padding: 60px;
    color: rgb(23, 22, 22);
  }
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }